In [3]:
import requests
import json
from datetime import datetime
import os
import logging
import psycopg2
import pandas as pd
import io
from pandas.io.json import json_normalize

In [3]:
%load_ext sql

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format("postgres", "docker", "pg-data", "5432", "weatherdb")
print(conn_string)

postgresql://postgres:docker@pg-data:5432/weatherdb

In [5]:
%sql $conn_string

'Connected: postgres@weatherdb'

# Environment Dataset - Weather - Temperature, rainfall and etc

In [55]:
parameters = { 'date' : '2019-08-09' }
results = requests.get("https://api.data.gov.sg/v1/environment/air-temperature?", parameters)

if results.status_code == 200:
    json_data = results.json()
    json_data = pd.DataFrame(json_data['items'])
    json_data = pd.DataFrame([(tup.timestamp, d) for tup in json_data.itertuples() for d in tup.readings])
    json_data.rename(columns={0:'timestamp', 1:'readings'}, inplace=True)
#     json_data = pd.concat([ json_data, json_normalize(json_data['readings'])], axis=1)
    json_data = pd.concat([pd.to_datetime(json_data['timestamp']), json_normalize(json_data['readings'])], axis=1)
    json_data['timestamp'] = [x.strftime("%Y-%m-%d %H:%M:%S") for x in json_data['timestamp']]
else:
    print("error in API call")

In [56]:
json_data.head()

             timestamp station_id  value
0  2019-08-09 00:01:00       S109   28.1
1  2019-08-09 00:01:00       S117   28.3
2  2019-08-09 00:01:00        S50   27.6
3  2019-08-09 00:01:00       S107   27.6
4  2019-08-09 00:01:00        S43   28.6

In [11]:
json_data.describe()

              value
count  23913.000000
mean      28.882591
std        1.428370
min       25.900000
25%       27.800000
50%       28.700000
75%       29.900000
max       33.300000

In [25]:
json_data['timestamp'] = [datetime.strptime(str(x), "%Y-%m-%dT%H:%M:%S%z").strftime("%Y-%m-%d %H:%M:%S") for x in json_data['timestamp']]

In [44]:
json_data['timestamp'] = pd.to_datetime(json_data['timestamp'], format='%Y-%m-%d %H:%M:%S')

In [8]:
data = json.load(open('home/data/2019-08-09.json', 'r'))

FileNotFoundError: [Errno 2] No such file or directory: 'home/data/2019-08-09.json'

In [ ]:
data = pd.DataFrame(data['items'])
data.head()

In [ ]:
df = pd.DataFrame([(tup.timestamp, d) for tup in data.itertuples() for d in tup.readings])
df.rename(columns={0:'timestamp', 1:'readings'}, inplace=True)
df.head()

In [ ]:
cleaned_df=pd.concat([df,json_normalize(df['readings'])], axis=1).drop(columns=['readings'])
cleaned_df.head()

In [31]:
conn = psycopg2.connect("host=pg-data dbname=weatherdb user=postgres password=docker")
conn.set_session(autocommit=True)
cur = conn.cursor()

In [32]:
weather_copy = "COPY weather_table (date_time, station_id, temperature) FROM '/home/data/temperature_2019-08-04.csv' WITH (FORMAT CSV, HEADER TRUE);"

In [33]:
cur.execute(weather_copy)

In [34]:
conn.close()

In [41]:
# Test the connection
%sql select * from weather_table limit 5;

 * postgresql://postgres:***@pg-data:5432/weatherdb
5 rows affected.

[(datetime.datetime(2004, 10, 19, 10, 23, 54), 'S21', Decimal('33.1')),
 (datetime.datetime(2019, 8, 4, 0, 1), 'S109', Decimal('28.5')),
 (datetime.datetime(2019, 8, 4, 0, 1), 'S50', Decimal('28.3')),
 (datetime.datetime(2019, 8, 4, 0, 1), 'S107', Decimal('29.0')),
 (datetime.datetime(2019, 8, 4, 0, 1), 'S43', Decimal('28.9'))]

In [ ]:
insert_cmd = """
INSERT INTO weather_table (date_time, station_id, temperature)
VALUES (TIMESTAMP '2004-10-19 10:23:54', 'S21', 33.1)
"""

In [ ]:
cur.execute(insert_cmd)

In [ ]:
conn.commit()

# Traffic Dataset - Carpark Availability

In [150]:
parameters = { 'date_time' : '2019-08-08T13:00:00+08:00' }
carpark = requests.get("https://api.data.gov.sg/v1/transport/carpark-availability?", parameters)
print("test")

if carpark.status_code == 200:
    print('test')
    carpark_data = carpark.json()
    carpark_data = pd.DataFrame(carpark_data['items'])
    carpark_data = pd.DataFrame([(tup.timestamp, d) for tup in carpark_data.itertuples() for d in tup.carpark_data])
    carpark_data.rename(columns={0:'timestamp', 1:'readings'}, inplace=True)
    carpark_data = pd.concat([carpark_data['timestamp'], json_normalize(carpark_data['readings'])],axis=1)
    carpark_data = pd.DataFrame([(tup.timestamp, tup.carpark_number, d) for tup in carpark_data.itertuples() for d in tup.carpark_info])
    carpark_data.rename(columns={0:'timestamp', 1:'carpark_number', 2:'carpark_info'}, inplace=True)
    carpark_data = pd.concat([pd.to_datetime(carpark_data['timestamp']), carpark_data['carpark_number'], json_normalize(carpark_data['carpark_info'])], axis=1)
    carpark_data['timestamp'] = [x.strftime("%Y-%m-%d %H:%M:%S") for x in carpark_data['timestamp']]
else:
    print("error in API call")

test
test

In [138]:
carpark_data = pd.DataFrame(carpark_data['items'])

In [151]:
carpark_data.head()

             timestamp carpark_number total_lots lot_type lots_available
0  2019-08-08 12:59:27           HE12         83        C              0
1  2019-08-08 12:59:27            HLM        583        C             66
2  2019-08-08 12:59:27            RHM        322        C            173
3  2019-08-08 12:59:27           BM29         97        C              4
4  2019-08-08 12:59:27            Q81         96        C              0

In [140]:
carpark_data = pd.DataFrame([(tup.timestamp, d) for tup in carpark_data.itertuples() for d in tup.carpark_data])

In [121]:
carpark_data.rename(columns={0:'timestamp', 1:'readings'}, inplace=True)

In [122]:
carpark_data.head()

,timestamp,readings
0,2019-08-12T11:53:27+08:00,"{'carpark_info': [{'total_lots': '83', 'lot_ty..."
1,2019-08-12T11:53:27+08:00,"{'carpark_info': [{'total_lots': '583', 'lot_t..."
2,2019-08-12T11:53:27+08:00,"{'carpark_info': [{'total_lots': '322', 'lot_t..."
3,2019-08-12T11:53:27+08:00,"{'carpark_info': [{'total_lots': '97', 'lot_ty..."
4,2019-08-12T11:53:27+08:00,"{'carpark_info': [{'total_lots': '96', 'lot_ty..."

In [123]:
carpark_data = pd.concat([carpark_data.timestamp, json_normalize(carpark_data.readings)],axis=1)

In [124]:
carpark_data.head()

,timestamp,carpark_info,carpark_number,update_datetime
0,2019-08-12T11:53:27+08:00,"[{'total_lots': '83', 'lot_type': 'C', 'lots_a...",HE12,2019-08-12T11:52:52
1,2019-08-12T11:53:27+08:00,"[{'total_lots': '583', 'lot_type': 'C', 'lots_...",HLM,2019-08-12T11:52:36
2,2019-08-12T11:53:27+08:00,"[{'total_lots': '322', 'lot_type': 'C', 'lots_...",RHM,2019-08-12T11:52:52
3,2019-08-12T11:53:27+08:00,"[{'total_lots': '97', 'lot_type': 'C', 'lots_a...",BM29,2019-08-12T11:52:48
4,2019-08-12T11:53:27+08:00,"[{'total_lots': '96', 'lot_type': 'C', 'lots_a...",Q81,2019-08-12T11:52:48

In [125]:
carpark_data = pd.DataFrame([(tup.timestamp, tup.carpark_number, d) for tup in carpark_data.itertuples() for d in tup.carpark_info])

In [128]:
carpark_data.rename(columns={0:'timestamp', 1:'carpark_number', 2:'carpark_info'}, inplace=True)

In [130]:
carpark_data.head()

,timestamp,carpark_number,carpark_info
0,2019-08-12T11:53:27+08:00,HE12,"{'total_lots': '83', 'lot_type': 'C', 'lots_av..."
1,2019-08-12T11:53:27+08:00,HLM,"{'total_lots': '583', 'lot_type': 'C', 'lots_a..."
2,2019-08-12T11:53:27+08:00,RHM,"{'total_lots': '322', 'lot_type': 'C', 'lots_a..."
3,2019-08-12T11:53:27+08:00,BM29,"{'total_lots': '97', 'lot_type': 'C', 'lots_av..."
4,2019-08-12T11:53:27+08:00,Q81,"{'total_lots': '96', 'lot_type': 'C', 'lots_av..."

In [133]:
carpark_data = pd.concat([carpark_data.timestamp, carpark_data.carpark_number, json_normalize(carpark_data.carpark_info)], axis=1)

In [134]:
carpark_data

,timestamp,carpark_number,total_lots,lot_type,lots_available
0,2019-08-12T11:53:27+08:00,HE12,83,C,0
1,2019-08-12T11:53:27+08:00,HLM,583,C,265
2,2019-08-12T11:53:27+08:00,RHM,322,C,197
3,2019-08-12T11:53:27+08:00,BM29,97,C,33
4,2019-08-12T11:53:27+08:00,Q81,96,C,23
5,2019-08-12T11:53:27+08:00,C20,173,C,0
6,2019-08-12T11:53:27+08:00,FR3M,228,C,154
7,2019-08-12T11:53:27+08:00,C32,289,C,159
8,2019-08-12T11:53:27+08:00,C6,332,C,143
9,2019-08-12T11:53:27+08:00,TG2,273,C,117
10,2019-08-12T11:53:27+08:00,BP1,543,C,300
11,2019-08-12T11:53:27+08:00,TG1,133,C,80
12,2019-08-12T11:53:27+08:00,TGM2,189,C,135
13,2019-08-12T11:53:27+08:00,TE14,138,C,60
14,2019-08-12T11:53:27+08:00,BM3,48,C,0
15,2019-08-12T11:53:27+08:00,BM9,612,C,121
16,2019-08-12T11:53:27+08:00,HG44,180,C,0
17,2019-08-12T11:53:27+08:00,HG64,80,C,7
18,2019-08-12T11:53:27+08:00,PM27,308,C,114
19,2019-08-12T11:53:27+08:00,PM28,302,C,124
20,2019-08-12T11:53:27+08:00,TM36,221,C,100
21,2019-08-12T11:53:27+08:00,TM37,238,C,126
22,2019-08-12T11:53:27+08:00,T50,362,C,93
23,2019-08-12T11:53:27+08:00,T51,351,C,92
24,2019-08-12T11:53:27+08:00,TM43,249,C,149
25,2019-08-12T11:53:27+08:00,T15,30,C,0
26,2019-08-12T11:53:27+08:00,T16,107,C,31
27,2019-08-12T11:53:27+08:00,T17,245,C,73
28,2019-08-12T11:53:27+08:00,T18,84,C,0
29,2019-08-12T11:53:27+08:00,B9,197,C,109
...,...,...,...,...,...
2073,2019-08-12T11:53:27+08:00,S36L,3,C,1
2074,2019-08-12T11:53:27+08:00,S38L,8,C,5
2075,2019-08-12T11:53:27+08:00,S40L,4,C,4
2076,2019-08-12T11:53:27+08:00,N0012,85,C,0
2077,2019-08-12T11:53:27+08:00,U63,70,C,19
2078,2019-08-12T11:53:27+08:00,B44B,98,C,63
2079,2019-08-12T11:53:27+08:00,C28M,305,C,204
2080,2019-08-12T11:53:27+08:00,TWM4,100,C,55
2081,2019-08-12T11:53:27+08:00,U54,235,C,26
2082,2019-08-12T11:53:27+08:00,J8M,2,C,0
2083,2019-08-12T11:53:27+08:00,Y35,402,C,21
2084,2019-08-12T11:53:27+08:00,W100,265,C,0
2085,2019-08-12T11:53:27+08:00,W546,634,C,321
2086,2019-08-12T11:53:27+08:00,BA1,278,C,232
2087,2019-08-12T11:53:27+08:00,U68,258,C,214
2088,2019-08-12T11:53:27+08:00,SB35,549,C,346
2089,2019-08-12T11:53:27+08:00,J29,417,C,137
2090,2019-08-12T11:53:27+08:00,J74M,500,C,376
2091,2019-08-12T11:53:27+08:00,JKS,37,Y,9
2092,2019-08-12T11:53:27+08:00,NT3,768,C,757
2093,2019-08-12T11:53:27+08:00,TM53,333,C,289
2094,2019-08-12T11:53:27+08:00,T47,540,C,178
2095,2019-08-12T11:53:27+08:00,T47A,171,C,110
2096,2019-08-12T11:53:27+08:00,TBL,1000,C,997
2097,2019-08-12T11:53:27+08:00,TBM8,960,C,629
2098,2019-08-12T11:53:27+08:00,C3ML,1,Y,0
2099,2019-08-12T11:53:27+08:00,C3ML,1,H,0
2100,2019-08-12T11:53:27+08:00,C3ML,10,C,4
2101,2019-08-12T11:53:27+08:00,BA2,100,C,84
2102,2019-08-12T11:53:27+08:00,K52,100,C,79

# Carpark Information Dataset

In [1]:
url = 'https://data.gov.sg/api/action/datastore_search?resource_id=139a3035-e624-4f56-b63f-89ae28d4ae4c'

In [15]:
carpark_info = requests.get(url)

if carpark_info.status_code == 200:
    carpark_info_data = carpark_info.json()
    carpark_info_data = pd.DataFrame(carpark_info_data['result']['records'])
    carpark_info_data = carpark_info_data[['car_park_no', 'address', 'y_coord', 'x_coord']]
    carpark_info_data.rename(columns={'car_park_no':'carpark_id',
                                      'address':'carpark_location',
                                      'y_coord':'carpark_latitude',
                                      'x_coord':'carpark_longitude'}, 
                             inplace=True)
else:
    print("error in API call")

In [16]:
carpark_info_data.head()

,carpark_id,carpark_location,carpark_latitude,carpark_longitude
0,CK76,BLK 810 CHOA CHU KANG AVE 7,39560.1044,18305.5202
1,CK77,BLK 815 CHOA CHU KANG AVE 7,39838.3954,18361.9468
2,CK78,817 KEAT HONG LINK,39885.9891,18660.8389
3,CK8,BLK 201-221 CHOA CHU KANG CENTRAL,40449.7464,18405.5916
4,CK8A,BLK 203A CHOA CHU KANG AVE 1/CENTRAL,40353.8181,18614.0227

In [17]:
carpark_info.json()['result']['fields']

[{'type': 'int4', 'id': '_id'},
 {'type': 'text', 'id': 'car_park_no'},
 {'type': 'text', 'id': 'address'},
 {'type': 'numeric', 'id': 'x_coord'},
 {'type': 'numeric', 'id': 'y_coord'},
 {'type': 'text', 'id': 'car_park_type'},
 {'type': 'text', 'id': 'type_of_parking_system'},
 {'type': 'text', 'id': 'short_term_parking'},
 {'type': 'text', 'id': 'free_parking'},
 {'type': 'text', 'id': 'night_parking'},
 {'type': 'numeric', 'id': 'car_park_decks'},
 {'type': 'numeric', 'id': 'gantry_height'},
 {'type': 'text', 'id': 'car_park_basement'}]